.admin-container{
display:flex;
height:100vh;
}

/* Sidebar */

.admin-sidebar{
width:240px;
background:#111;
color:white;
padding:20px;
transition:0.3s;
}

.logo{
margin-bottom:30px;
font-weight:600;
}

.menu{
list-style:none;
padding:0;
}

.menu li{
margin-bottom:10px;
}

.menu a{
color:#bbb;
text-decoration:none;
display:block;
padding:10px;
border-radius:6px;
transition:0.3s;
}

.menu a:hover{
background:#222;
color:#ff9933;
}

.menu li.active a{
background:#ff9933;
color:black;
}


/* Main */

.admin-main{
flex:1;
display:flex;
flex-direction:column;
}

/* Navbar */

.admin-navbar{
height:60px;
background:white;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 20px;
border-bottom:1px solid #eee;
}

.menu-btn{
background:none;
border:none;
font-size:20px;
cursor:pointer;
display:none;
}

/* Content */

.admin-content{
flex:1;
padding:25px;
background:#f5f6fa;
overflow:auto;
}

/* MOBILE */

@media(max-width:992px){

.admin-sidebar{
position:fixed;
left:-240px;
top:0;
height:100%;
z-index:1000;
}

.admin-sidebar.open{
left:0;
}

.menu-btn{
display:block;
}

.admin-container{
flex-direction:column;
}

}
