<footer class="footer">

<div class="container">

<div class="row gy-4">

<!-- Company Info -->
<div class="col-lg-4 col-md-6">

<h4 class="footer-logo">
<i class="fas fa-building"></i> Sthapatya Inc
</h4>

<p class="footer-text">
We deliver high-quality residential and commercial construction
projects with modern design, strong engineering and trusted
execution.
</p>
<div>&nbsp;</div>
<div class="social-icons">

<a href="#"><i class="fab fa-facebook-f"></i></a>
<a href="#"><i class="fab fa-instagram"></i></a>
<a href="#"><i class="fab fa-linkedin-in"></i></a>
<a href="#"><i class="fab fa-twitter"></i></a>

</div>

</div>


<!-- Quick Links -->
<div class="col-lg-4 col-md-6">

<h5 class="footer-title">Quick Links</h5>

<ul class="footer-links">

<li><a routerLink="/home">Home</a></li>
<li><a routerLink="/about">About</a></li>
<li><a routerLink="/services">Services</a></li>
<li><a routerLink="/projects">Projects</a></li>
<li><a routerLink="/contact">Contact</a></li>

</ul>

</div>


<!-- Contact Info -->
<div class="col-lg-4 col-md-6">

<h5 class="footer-title">Contact Info</h5>

<div class="footer-contact">

<p>
<i class="fas fa-phone"></i>
+91 9876543210
</p>

<p>
<i class="fas fa-envelope"></i>
info&#64;sthapatyainc.com
</p>

<p>
<i class="fas fa-map-marker-alt"></i>
Bangalore, India
</p>

</div>

</div>

</div>

<hr class="footer-divider">

<div class="footer-bottom text-center">

© 2026 <b>Sthapatya Inc</b>. All Rights Reserved.

</div>

</div>

</footer>
