<footer class="bg-dark text-white">
  <div class="container py-4">

    <div class="row">

      <div class="col-md-4">
        <h5>BuildCorp</h5>
        <p>
          We provide high quality construction services including residential
          and commercial projects.
        </p>
      </div>

      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/" class="text-white">Home</a></li>
          <li><a routerLink="/about" class="text-white">About</a></li>
          <li><a routerLink="/services" class="text-white">Services</a></li>
          <li><a routerLink="/projects" class="text-white">Projects</a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <h5>Contact</h5>
        <p><i class="fas fa-phone"></i> +91 9876543210</p>
        <p><i class="fas fa-envelope"></i> info&#64;buildcorp.com</p>
        <p><i class="fas fa-map-marker-alt"></i> Bangalore, India</p>
      </div>

    </div>

    <hr>

    <div class="text-center">
      © 2026 BuildCorp. All Rights Reserved.
    </div>

  </div>
</footer>

